[Interface]
ListenPort = {{ item.wireguard_mesh_port }}
PrivateKey = {{ item.wireguard_mesh_priv_key }}
Address = {{ item.wireguard_mesh_address }}/48
MTU = 1400
PostUp = /etc/wireguard/up{{ item.name }}.sh
PreDown = /etc/wireguard/down{{ item.name }}.sh

{% for host in groups['fastd'] %}
{% for site in hostvars[host]['sites'] if site.name == item.name and site.wireguard_mesh_number != item.wireguard_mesh_number %}
[Peer]
PublicKey = {{ site.wireguard_mesh_pub_key }}
AllowedIPs = {{ site.wireguard_mesh_address }}/128
Endpoint = [{{ site.wireguard_mesh_endpoint }}]:{{ item.wireguard_mesh_port }}
PersistentKeepalive = 30
{% endfor %}
{% endfor %}
