#!/bin/bash
batctl -m bat{{ item.name }} if add vpn{{ item.name }}
ip link set address {{ item.fastd_mesh_mac }} dev vpn{{ item.name }}
ip link set up dev $1
batctl -m bat{{ item.name }} gw server 1000000/1000000
batctl -m bat{{ item.name }} it 10000
batctl -m bat{{ item.name }} mm 1
echo 64 > /sys/class/net/bat{{ item.name }}/mesh/hop_penalty
#netctl start bat{{ item.name }}
#ifdown bat{{ item.name }}
ifup bat{{ item.name }}
systemctl restart isc-dhcp-server.service
systemctl restart bind9.service
