Connection=ethernet
Interface=ens3
IP=static
Address=({{ ansible_default_ipv4['address'] }}/24)
{# TODO: fix /24 #}
Gateway={{ ansible_default_ipv4['gateway'] }}
IP6=static
Address6=({{ ansible_default_ipv6['address'] }}/{{ ansible_default_ipv6['prefix'] }})
Gateway6={{ ansible_default_ipv6['gateway'] }}

