{% for site in sites %}
interface bat{{ site.name }}
{
        AdvSendAdvert on;
        IgnoreIfMissing on;
        MinRtrAdvInterval 10;
        MaxRtrAdvInterval 300;

        AdvDefaultPreference low;
        AdvHomeAgentFlag off;

        prefix {{ site.net6 }}
        {
                AdvOnLink on;
                AdvAutonomous on;
                AdvRouterAddr off;
        };

        RDNSS {{ site.bat_ipv6 }}
        {
                AdvRDNSSLifetime 900;
        };

};

{% endfor %}
