---
domains:
{% for site in sites %}
  - ff{{ site.name }}
{% endfor %}
mqtt:
  broker_url: "127.0.0.1"
  broker_port: 1883
  username: "{{ mqtt_username }}"
  password: "{{ mqtt_password }}"
  keepalive: 5
  tls: False
