#!/bin/bash
ip link set address {{ item.bat_mac }} dev bat{{ item.name }}
ip -4 rule add iif bat{{ item.name }} table ffww priority 10
ip -6 rule add iif bat{{ item.name }} table ffww priority 10
ip -4 rule add from {{ item.net4 }} table ffww priority 10
ip -4 rule add from {{ item.net4_z }} table ffww priority 10
ip -6 rule add from {{ item.net6 }} table ffww priority 10
ip -6 rule add from {{ item.net6_z }} table ffww priority 10

ip -4 rule add from all iif bat{{ item.name }} type unreachable priority 200
ip -6 rule add from all iif bat{{ item.name }} type unreachable priority 200

ip -4 route replace {{item.net4_z }} dev bat{{ item.name }} proto static table ffww
ip -4 route replace {{item.net4 }} dev bat{{ item.name }} proto static table ffww
ip -6 route replace {{item.net6_z }} dev bat{{ item.name }} proto static table ffww
ip -6 route replace {{item.net6 }} dev bat{{ item.name }} proto static table ffww
ip -6 route replace {{item.site_net6 }} dev bat{{ item.name }} proto static table ffww
